# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = customV2.wad

# Rewards
death_penalty = 50
living_reward = 3

# Rendering options
screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = True
render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false
window_visible = true

# make episodes start after unholstering the gun
episode_start_time = 20

# Available buttons
available_buttons = 
	{
	    USE
		MOVE_LEFT
		MOVE_RIGHT
		ATTACK 
	}

mode = PLAYER
doom_skill = 3
